/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
text-align: center;
}

.container {
    width: 80%;
    margin: 2% auto;
}

#login_button {
    background-image: url("../img/login.png");
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 155px;
    cursor: pointer;
}

form {
    margin: 2%;
}
.form-control {
    width: 86%;
    display: inline-block;
    margin-right: 1%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
}
.btn {
    width: 10%;
    padding: 6px 12px;
    background-color: rgb(0, 187, 255);
    outline: none;
    border: none;
    color: white;
    border-radius: 4px;
    display: inline-block;
}

.list-group {
    list-style-type: none;
    margin: 0 2%;
    padding: 0;
    text-align: left;
}
.list-group-item {
    border: 1px solid #E7E7E7;
    padding: 15px;
    margin: 15px 0;
    border-radius: 4px;
}
.list-group-item div {
    display: inline-block;
    width: 20%;
    position: relative;
}
.list-group-item div label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    color: #666;
}
.list-group-item a {
    background-color: rgb(0, 187, 255);
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
}

.progress {
    margin: 2%;
}
.progress-bar {
    background-color: rgb(0, 187, 255);
    border-radius: 4px;
    padding: .5% 1%;
    color: white;
    text-align: center;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}